body {
    background-color: #040D12;
    font-family: 'Lexend', sans-serif;
    font-size: xx-large;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.foodimg {
    width: 90%;
    height: 85%;
    border-radius: 20px;
    object-fit: cover;
}

.header-social {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
}


.header-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #323232;
    border-radius: 74px;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-social ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
}
.header-social li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px;
}

.header-social li a:hover {
    background-color: #555555;
    color: #14FFEC;
}


.bulk {
    margin-top: 10px;
    border-radius: 20px;
    width: 60vh;
    height: 10vh;
    background-color: #0D7377;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1_bulk, .row2_bulk, .row3_bulk, .row4_bulk {
    width: 40vh;
    height: 30vh;
    border-radius: 20px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbulk {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbulk2 {
    margin-top: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.cut {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 60vh;
    height: 10vh;
    background-color: #0D7377;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1_cut, .row2_cut, .row3_cut, .row4_cut {
    width: 40vh;
    height: 30vh;
    border-radius: 20px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcut {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexcut2 {
    margin-top: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}