body {
    background-color: #040D12;
    font-family: 'Lexend', sans-serif;
    font-size: xx-large;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


.header-social {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
}


.header-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #323232;
    border-radius: 74px;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-social ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
}
.header-social li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px;
}

.header-social li a:hover {
    background-color: #555555;
    color: #14FFEC;
}
p{
    font-size: medium;
    margin: 5px 0;
    text-align: center;
    font-weight: 300;
}

h3 {
    margin: 10px 0 5px 0;
    text-align: center;
    font-weight: bold;
    color: #14FFEC;
    font-size: large;
}

.bulk {
    margin-top: 10px;
    border-radius: 20px;
    width: 60vh;
    height: 10vh;
    background-color: #0D7377;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cut {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 60vh;
    height: 10vh;
    background-color: #0D7377;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flexbulk, .flexcut {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbulk2, .flexcut2 {
    margin-top: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row1_bulk {
    width: 80vh;
    height: 60vh;
    border-radius: 20px;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    gap: 10px;
}

.row1_cut, .row2_cut, .row3_cut, .row4_cut,
.row1_Influencers, .row2_Influencers, .row3_Influencers, .row4_Influencers  {
    width: 40vh;
    height: 30vh;
    border-radius: 20px;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Modal Content (image) */
.modal-content {
  max-width: 70%; /* Set a max width, adjust as needed */
  width: auto; /* Auto width to scale down on smaller screens */
  height: auto; /* Auto height to scale down the content */
  margin: auto; /* Center content */
  display: block;
  border-radius: 10px; /* Optional: add a border radius for rounded corners */
  animation-name: zoom;
  animation-duration: 0.6s;
}


#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 700px){
  .modal-content {
    width: 90%; 
  }
}
